@import url('https://fonts.googleapis.com/css?family=Sarabun:400,700');

* {
    margin: 0;
    padding: 0;
    font-family: 'Sarabun', sans-serif;
}

html, body {
    width: 480px;
}

header {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to left, #11998e, #38ef7d);
    user-select: none;
}

h1 {
    color: #fff;
    margin: 0;
    padding: 10px;
}

.version {
    color: #fff;
    opacity: 0.5;
    padding: 15px 10px 0;
    vertical-align: middle;
}

li {
    color: #333;
    font-size: 1.2em;
    padding: 10px;
}

li:nth-of-type(2n) {
    background-color: #fafafa;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    width: 1.2em;
    height: 1.2em;
    margin-right: 5px;
}



.fail > .checkmark, .fail > .exclamation, 
.pass > .cross, .pass > .exclamation,
.warn > .checkmark, .warn > .cross {
    display: none;
}