@import url('shared.css');

label, code {
    display: block;
}

input, select, textarea, button {
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
}

fieldset {
    padding: 20px;
}

fieldset, input, select, textarea, button {
    border: 1px solid #ddd;
    border-radius: 5px;
}

input, select, textarea, button {
    margin-top: 10px;
    padding: 10px;
}

textarea {
    min-height: 4rem;
    resize: vertical;
}

button {
    border-color: #107a71;
    color: #fff;
}

label {
    margin-bottom: 10px;
}

abbr[title=required], #status {
    text-decoration: none;
    font-weight: bold;
    color: #f64f59;
}

.codeblock {
    font-family: monospace;
}

.top-margin {
    margin-top: 10px;
}

#rules {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.rule {
    margin: 10px;
}

#panel {
    justify-content: space-between;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    padding: 20px;
    display: flex;
    background: #fff; 
}

#panel button {
    width: 100px;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 0;
    margin-left: 10px;
}

#status {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

#status.show {
    opacity: 1;
}

