@import url('shared.css');

html, body {
    width: 480px;
}

li {
    color: #333;
    font-size: 1.2em;
    padding: 10px;
}

li:nth-of-type(2n) {
    background-color: #fafafa;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    width: 1.2em;
    height: 1.2em;
    margin-right: 5px;
}

.fail > .checkmark, .fail > .exclamation,
.pass > .cross, .pass > .exclamation,
.warn > .checkmark, .warn > .cross {
    display: none;
}

.cant-run {
    text-align: center;
    padding: 1rem;
}
