@import url('https://fonts.googleapis.com/css?family=Sarabun:400,700');

* {
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 1.1rem;
}

body {
    background-color: #fcfcfc;
}

header, button, .button {
    font-family: 'Sarabun', sans-serif;
    background: linear-gradient(to left, #0c645d, #30c96b);
    border: 0 solid #107a71;
    user-select: none;
}

button, .button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    border-width: 1px;
    color: #fff;
    text-decoration: none;
}

button:hover, .button:hover {
    background: linear-gradient(to left, #0f776e, #35e077);
    box-shadow: 0 2px 1px rgba(0,0,0,.1);
}

header {
    border-bottom-width: 1px;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 1.5rem;
    color: #fff;
    margin: 0;
    padding: 10px;
}

.version {
    font-size: 0.8rem;
    color: #fff;
    opacity: 0.5;
    padding: 15px 10px 0;
    vertical-align: middle;
}

[disabled] {
    background-color: #ddd;
    color: #888;
}